.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;

}
.title{
    font-size:30px;
    font-weight: bold;
    padding-bottom: 50px;
}
table{
    width: 80%;
    border: 1px solid #444444;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}
td{
    border: 1px solid black;
    border-left:none;
    border-right: none;
    padding:3px;
}